.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #44C59E, #5DCAA9);
  }
  
  .login-card {
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 350px;
  }
  
  .login-title {
    font-size: 49px;
    font-weight: bold;
    color: #44C59E;
    margin-bottom: 10px;
  }
  
  .login-subtitle {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    background: #d1f7d7;
    border-radius: 10px;
    padding: 12px;
    margin: 10px 0;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .input-group input {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 14px;
    padding: 8px;
    color: #145a32;
  }
  
  .input-group input::placeholder {
    color: #2d8659;
  }
  
  .icon {
    color: #fff;
    font-size: 18px;
    margin-right: 10px;
  }
  
  .checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #444;
    margin: 10px 0;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .login-btn {
    background: linear-gradient(135deg, #44C59E, #5DCAA9);
    color: white;
    border: none;
    padding: 14px 0;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    max-width: 300px;
    transition: all 0.3s ease;
  }
  
  .login-btn:hover {
    background: linear-gradient(135deg, #44C59E, #5DCAA9);
    transform: translateY(-2px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  }
  
  .signup-link {
    margin-top: 15px;
    font-size: 14px;
  }
  
  .signup-link a {
    font-weight: bold;
    text-decoration: none;
    color: #5DCAA9;
}
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  
  .forgot-password {
    margin-top: 15px;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    color: #5DCAA9;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  